{
    #debug
	admin :2019 {
		origins 10.33.1.114
	}
	servers {
		metrics
	}
	email evan.slack@outlook.com
}

(dnsauth) {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		# ca https://acme-staging-v02.api.letsencrypt.org/directory
	}
}

*.local.{env.DOMAIN}, *.{env.DOMAIN}, {env.DOMAIN} {
	# get certs from cloudflare DNS challenge
	import dnsauth

	# only allow local access
	@denied not remote_ip private_ranges
	abort @denied


	# ---------
	#  SCALE
	# ---------

	@scale host scale.local.{env.DOMAIN}
	handle @scale {
		reverse_proxy {env.SCALE_ADDR}:443 {
        transport http {
            tls_insecure_skip_verify
            }
        }
	}

	# ---------
	#  PVE-NAVI
	# ---------

	@pvenavi host pve-navi.local.{env.DOMAIN}
	handle @pvenavi {
		reverse_proxy {env.PVENAVI_ADDR}:8006 {
        transport http {
            tls_insecure_skip_verify
            }
        }
	}

	# ---------
	#  PBS
	# ---------

	@pbs host pbs.local.{env.DOMAIN}
	handle @pbs {
		reverse_proxy {env.PBS_ADDR}:8007 {
        transport http {
            tls_insecure_skip_verify
            }
        header_up Connection {http.request.header.Connection}
        header_up Upgrade {http.request.header.Upgrade}
        }
	}

	# -------
	#  RASPI
	# -------

	@adguard host adguard.local.{env.DOMAIN}
	handle @adguard {
		reverse_proxy {env.RASPI_ADDR}:80
	}

	# ---------
	#  GATEWAY
	# ---------

	@authentik host auth.local.{env.DOMAIN}
	handle @authentik {
		reverse_proxy {env.GATEWAY_ADDR}:9000 {
            header_down Strict-Transport-Security "max-age=15768000; includeSubDomains; preload;"
            header_up X-Real-IP {remote_host}
        }
	}

	@convoy host convoy.local.{env.DOMAIN}
	handle @convoy {
		reverse_proxy {env.GATEWAY_ADDR}:5005
	}

	@gateway_npm host npm.local.{env.DOMAIN}
	handle @gateway_npm {
		reverse_proxy {env.GATEWAY_ADDR}:81
	}

	# -----
	#  MON
	# -----

	@alertmanager host alertmanager.local.{env.DOMAIN}
	handle @alertmanager {
		reverse_proxy {env.MON_ADDR}:9093
	}

	@grafana host grafana.local.{env.DOMAIN}
	handle @grafana {
		reverse_proxy {env.MON_ADDR}:3000
	}

	@influxdb host influxdb.local.{env.DOMAIN}
	handle @influxdb {
		reverse_proxy {env.MON_ADDR}:8086
	}

	@jaeger host jaeger.local.{env.DOMAIN}
	handle @jaeger {
		reverse_proxy {env.MON_ADDR}:16686
	}

	@karma host karma.local.{env.DOMAIN}
	handle @karma {
		reverse_proxy {env.MON_ADDR}:9094
	}

	@mimir host mimir.local.{env.DOMAIN}
	handle @mimir {
		reverse_proxy {env.MON_ADDR}:9009
	}

	@prometheus host prometheus.local.{env.DOMAIN}
	handle @prometheus {
		reverse_proxy {env.MON_ADDR}:9090
	}

	@uptrace host uptrace.local.{env.DOMAIN}
	handle @uptrace {
		reverse_proxy {env.MON_ADDR}:14318
	}

	# -------
	#  TORRR
	# -------

	@audiobookshelf host audiobookshelf.local.{env.DOMAIN}
	handle @audiobookshelf {
		reverse_proxy {env.TORRR_ADDR}:13378
	}

	@autobrr host autobrr.local.{env.DOMAIN}
	handle @autobrr {
		reverse_proxy {env.TORRR_ADDR}:7474
	}

	@bazarr host bazarr.local.{env.DOMAIN}
	handle @bazarr {
		reverse_proxy {env.TORRR_ADDR}:6767
	}

	@jellyfin host jellyfin.local.{env.DOMAIN}
	handle @jellyfin {
		reverse_proxy {env.TORRR_ADDR}:8096
	}

	@jellyseerr host jellyseerr.local.{env.DOMAIN}
	handle @jellyseerr {
		reverse_proxy {env.TORRR_ADDR}:5055
	}

	@jellystat host jellystat.local.{env.DOMAIN}
	handle @jellystat {
		reverse_proxy {env.TORRR_ADDR}:3009
	}

	@lidarr host lidarr.local.{env.DOMAIN}
	handle @lidarr {
		reverse_proxy {env.TORRR_ADDR}:8686
	}

	@metube host metube.local.{env.DOMAIN}
	handle @metube {
		reverse_proxy {env.TORRR_ADDR}:8081
	}

	@navidrome host navidrome.local.{env.DOMAIN}
	handle @navidrome {
		reverse_proxy {env.TORRR_ADDR}:4533
	}

	@podgrab host podgrab.local.{env.DOMAIN}
	handle @podgrab {
		reverse_proxy {env.TORRR_ADDR}:8330
	}

	@prowlarr host prowlarr.local.{env.DOMAIN}
	handle @prowlarr {
		reverse_proxy {env.TORRR_ADDR}:9696
	}

	@ptube host ptube.local.{env.DOMAIN}
	handle @ptube {
		reverse_proxy {env.TORRR_ADDR}:8069
	}

	@radarr host radarr.local.{env.DOMAIN}
	handle @radarr {
		reverse_proxy {env.TORRR_ADDR}:7878
	}

	@openbooks host openbooks.local.{env.DOMAIN}
	handle @openbooks {
		reverse_proxy {env.TORRR_ADDR}:8071
	}

	@sonarr host sonarr.local.{env.DOMAIN}
	handle @sonarr {
		reverse_proxy {env.TORRR_ADDR}:8989
	}

	@stash host stash.local.{env.DOMAIN}
	handle @stash {
		reverse_proxy {env.TORRR_ADDR}:9999
	}

	@tdarr host tdarr.local.{env.DOMAIN}
	handle @tdarr {
		reverse_proxy {env.TORRR_ADDR}:8265
	}

	@transmission host transmission.local.{env.DOMAIN}
	handle @transmission {
		reverse_proxy {env.TORRR_ADDR}:8080
	}

	@whisparr host whisparr.local.{env.DOMAIN}
	handle @whisparr {
		reverse_proxy {env.TORRR_ADDR}:6969
	}

	@wizzar host wizzar.local.{env.DOMAIN}
	handle @wizzar {
		reverse_proxy {env.TORRR_ADDR}:5690
	}

	# ---------
	#  NUBUNTU
	# ---------

	@archivebox host archivebox.local.{env.DOMAIN}
	handle @archivebox {
		reverse_proxy {env.NUBUNTU_ADDR}:8007
	}

	@caddyui host caddy.local.{env.DOMAIN}
	handle @caddyui {
		reverse_proxy {env.NUBUNTU_ADDR}:8443
	}

	@change_detection host change.local.{env.DOMAIN}
	handle @change_detection {
		reverse_proxy {env.NUBUNTU_ADDR}:5000
	}

	@diagrams host diagrams.local.{env.DOMAIN}
	handle @diagrams {
		reverse_proxy {env.NUBUNTU_ADDR}:8219
	}

	@emulatorjs host emulator.local.{env.DOMAIN}
	handle @emulatorjs {
		reverse_proxy {env.NUBUNTU_ADDR}:3080
	}

	@emulatorjs_management host emulator-management.local.{env.DOMAIN}
	handle @emulatorjs_management {
		reverse_proxy {env.NUBUNTU_ADDR}:3079
	}

	@esphome host esphome.local.{env.DOMAIN}
	handle @esphome {
		reverse_proxy {env.NUBUNTU_ADDR}:6052
	}

	@excalidraw host draw.local.{env.DOMAIN}
	handle @excalidraw {
		reverse_proxy {env.NUBUNTU_ADDR}:7645
	}

	@expanse host expanse.local.{env.DOMAIN}
	handle @expanse {
		reverse_proxy {env.NUBUNTU_ADDR}:1301
	}

	@factorio host factorio.local.{env.DOMAIN}
	handle @factorio {
		reverse_proxy {env.NUBUNTU_ADDR}:34197
	}

	@gitea host git.local.{env.DOMAIN}
	handle @gitea {
		reverse_proxy {env.NUBUNTU_ADDR}:3331
	}

	@hakatime host hakatime.local.{env.DOMAIN}
	handle @hakatime {
		reverse_proxy {env.NUBUNTU_ADDR}:8201
	}

	@hass host hass.local.{env.DOMAIN}
	handle @hass {
		reverse_proxy {env.NUBUNTU_ADDR}:8123
	}

	@healthchecks host healthchecks.local.{env.DOMAIN}
	handle @healthchecks {
		reverse_proxy {env.NUBUNTU_ADDR}:8055
	}

	@hoarder host hoarder.local.{env.DOMAIN}
	handle @hoader {
		reverse_proxy {env.NUBUNTU_ADDR}:3039
	}

	@homebridge host homebridge.local.{env.DOMAIN}
	handle @homebridge {
		reverse_proxy {env.NUBUNTU_ADDR}:8581
	}

	@home host home.local.{env.DOMAIN}
	handle @home {
		reverse_proxy {env.NUBUNTU_ADDR}:3963
	}

	@immich host immich.local.{env.DOMAIN}
	handle @immich {
		reverse_proxy {env.NUBUNTU_ADDR}:2283
	}

	@linkding host linkding.local.{env.DOMAIN}
	handle @linkding {
		reverse_proxy {env.NUBUNTU_ADDR}:9090
	}

	@miniflux host miniflux.local.{env.DOMAIN}
	handle @miniflux {
		reverse_proxy {env.NUBUNTU_ADDR}:8481
	}

	@nextcloud host cloud.local.{env.DOMAIN}
	handle @nextcloud {
		reverse_proxy {env.NUBUNTU_ADDR}:8080
	}

	@node_red host node-red.local.{env.DOMAIN}
	handle @node_red {
		reverse_proxy {env.NUBUNTU_ADDR}:1880
	}

	@nomie host nomie.local.{env.DOMAIN}
	handle @nomie {
		reverse_proxy {env.NUBUNTU_ADDR}:5482
	}

	@nomie_db host nomie-db.local.{env.DOMAIN}
	handle @nomie_db {
		reverse_proxy {env.NUBUNTU_ADDR}:5984
	}

	@paperless host paperless.local.{env.DOMAIN}
	handle @paperless {
		reverse_proxy {env.NUBUNTU_ADDR}:8028
	}

	@password_pusher host pw.local.{env.DOMAIN}
	handle @password_pusher {
		reverse_proxy {env.NUBUNTU_ADDR}:5100
	}

	@pastebnn host bin.local.{env.DOMAIN}
	handle @pastebnn {
		reverse_proxy {env.NUBUNTU_ADDR}:8993
	}

	@pialert host pialert.local.{env.DOMAIN}
	handle @pialert {
		reverse_proxy {env.NUBUNTU_ADDR}:20211
	}

	@portainer host portainer.local.{env.DOMAIN}
	handle @portainer {
		reverse_proxy {env.NUBUNTU_ADDR}:9000
	}

	@scrypted host scrypted.local.{env.DOMAIN}
	handle @scrypted {
		reverse_proxy {env.NUBUNTU_ADDR}:11080
	}

	@scrutiny host scrutiny.local.{env.DOMAIN}
	handle @scrutiny {
		reverse_proxy {env.NUBUNTU_ADDR}:8040
	}

	@send host send.local.{env.DOMAIN}
	handle @send {
		reverse_proxy {env.NUBUNTU_ADDR}:1234
	}

	@shlink_server host shlink-server.local.{env.DOMAIN}
	handle @shlink_server {
		reverse_proxy {env.NUBUNTU_ADDR}:8410
	}

	@shlink host shlink.local.{env.DOMAIN}
	handle @shlink {
		reverse_proxy {env.NUBUNTU_ADDR}:8411
	}

	@snapdrop host snapdrop.local.{env.DOMAIN}
	handle @snapdrop {
		reverse_proxy {env.NUBUNTU_ADDR}:9999
	}

	@speedtest_tracker host speedtest-tracker.local.{env.DOMAIN}
	handle @speedtest_tracker {
		reverse_proxy {env.NUBUNTU_ADDR}:8173
	}

	@spotify host spotify.local.{env.DOMAIN}
	handle @spotify {
		reverse_proxy {env.NUBUNTU_ADDR}:3917
	}

	@vaultwarden host vaultwarden.local.{env.DOMAIN}
	handle @vaultwarden {
		reverse_proxy {env.NUBUNTU_ADDR}:8069
	}

	@umami host umami.local.{env.DOMAIN}
	handle @umami {
		reverse_proxy {env.NUBUNTU_ADDR}:3977
	}

	@uptime host up.local.{env.DOMAIN}
	handle @uptime {
		reverse_proxy {env.NUBUNTU_ADDR}:3001
	}

	@upsnap host upsnap.local.{env.DOMAIN}
	handle @upsnap {
		reverse_proxy {env.NUBUNTU_ADDR}:8090
	}

	@vikunja host vikunja.local.{env.DOMAIN}
	handle @vikunja {
		reverse_proxy {env.NUBUNTU_ADDR}:3455
	}

	@vikunja_api host vikunja-api.local.{env.DOMAIN}
	handle @vikunja_api {
		reverse_proxy {env.NUBUNTU_ADDR}:3456
	}

	@webnut host webnut.local.{env.DOMAIN}
	handle @webnut {
		reverse_proxy {env.NUBUNTU_ADDR}:6543
	}

	# -------
	#  VED
	# -------

	@analogdb host analogdb.local.{env.DOMAIN}
	handle @analogdb {
		reverse_proxy {env.VED_ADDR}:3000
	}

	@analogdb-api host api.analogdb.local.{env.DOMAIN}
	handle @analogdb-api {
		reverse_proxy {env.VED_ADDR}:8080
	}

	@databend host databend.local.{env.DOMAIN}
	handle @databend {
		reverse_proxy {env.VED_ADDR}:8888
	}

	@redash host redash.local.{env.DOMAIN}
	handle @redash {
		reverse_proxy {env.VED_ADDR}:5000
	}

	@windmill host windmill.local.{env.DOMAIN}
	handle @windmill {
		reverse_proxy {env.VED_ADDR}:9999
	}


}
